@import '~bootstrap/scss/bootstrap.scss';

$primary: #fdfaf8;
$secondary: #faf0e4;
$tertiary: #9bcdd2;

body {
  background-color: $primary;
}

h2 {
  color: $tertiary;
}

h3 {
 color: #ff8551;
}

.navbar {
  position: relative;
  top: 0;
  z-index: 999;
  }

.navbar-brand {
  font-size: 30px;
  color: $tertiary;
}



.card{
  background-color: $secondary;

.card-title {
   color: #ff8551;
}
}


